.list-head {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  #doviwtable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .docviewth, .docviewtd {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
  }
  
 
  .docviewtr:hover {
    background-color: #6317e7;
  }
  #doviwtable {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse;
    text-align: center;
  }
  
  #doviwtable .docviewth,
  #doviwtable .docviewth {
    padding: 12px;
    text-align: center;
  }
  
  #doviwtable .docviewth {
    background-color: #f16fd7;
    font-weight: bold;
  }
  
  #doviwtable .docviewtd {
    border-bottom: 1px solid #b11e1e;
    border-left: 1px solid #b11e1e;
    border-right:1px solid #b11e1e;
    background-color: white;
  }
  .centerdocview-container
  {
    background-image: url(../images/doc3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
  .navbar {
    background-color: #c826e1;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.3s ease;
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
   
  .navbar-item {
    cursor: pointer;
    margin-right: 15px;
    padding: 10px;
    margin-top: 5px;
  }