.deldoc {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .deldocinpu {
    width: 200px; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .doctors-delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: -moz-repeating-linear-gradient(lightblue,lightgrey,lightpink); */
  }
  
  .deldocbut {
    background-color: #ff4f4f;
    color: #fff;
    margin-top: .5%;
    font-size: larger;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .deldocbut:hover {
    background-color: #e03e3e;
  }
  .bodydeldoc
  {
    background-image:url(../images/doc2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .tabWholedoc
  {
    border-radius: 8px;
    background-color: rgba(220, 215, 215, 0.7);
    /* background-color: transparent; */
    font-weight: bold;
  }
  .theaddocdel
  {
    background-color: white;
  }
  .navbar {
    background-color: #c826e1;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.3s ease;
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
   
  .navbar-item {
    cursor: pointer;
    margin-right: 15px;
    padding: 10px;
    margin-top: 5px;
  }